@import "src/vars";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $main-color;
  z-index: 8;
  box-shadow: 0 0px 6px 2px rgba(0, 0, 0, 0.2);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 45px;

    svg {
      height: 100%;
    }
  }
}
